*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    display: block;
    /* width: 100%; */
}

body {
    font-style: 14px;
    line-height: 1.4;
    color: #222;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

/* header */
.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(2, 2, 128);
}

.gnb {
    display: flex;
}

.gnb > li {
    position: relative;
}

.gnb ul {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
}

.gnb ul li a {
    display: block;
    padding: 16px 10px;
    background-color: #fff;
    text-align: center;
}

.gnb > li > a {
    display: block;
    padding: 0 60px;
    height: 100px;
    line-height: 100px;
}

.gnb > li > a:hover {
    color: orangered;
}


/* slide */
.slider_wrap {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.slides {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

/* contents */
.contents {
    display: flex;
    gap: 24px;
}

.contents > div {
    width: 384px;
}

.board .titles {
    display: flex;
    gap: 4px;
    border-bottom: 3px solid #ff6347;
}

.board .titles h2 {
    background-color: #f0f0f0;
    text-align: center;
    height: 48px;
    line-height: 48px;
    width: 190px;
    font-size: 14px;
    font-weight: normal;
}

.board .titles h2.active {
    background-color: #ff6347;
    color: white;
}


.board .notice_list {
    padding: 10px 6px;
}

.board .notice_list li{
    /* background-color: red; */
    padding-left: 14px;
    
}

.board .notice_list li::before{
    content: '>';
    position: absolute;
    top: 4px;
    font:0;
    color: orangered;
}


.board .notice_list li a{
    display: block;
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 360px; 
}

.board .gallery_list {
    /* display: none; */
    padding: 10px;
    display: flex; 
    gap: 10px;
}

.board .notice_list li a{
    text-decoration: underline;
}

.board .gallery_list


/* footer */
.footer {
    background-color: #eee;
}






