*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body { 
    font-size: 20px;
}

.wrap {
}

.wrap .container, .contents {
    display: flex;
    align-items: center;
    justify-content: center;
 
}


.header {
    background-color: #c9c9c9;


}

.header .container {
    background-color: #d9d9d9;
    width: 1040px;
    height: 100px;

    margin: 0 auto;


}

.contents {
    background-color: #b3adad;
    height: 624px;
    width: 1024px;
    margin: 0 auto ;

}

.footer {
    background-color: #c9c9c9;
}


.footer .container {
    height: 300px;
    width: 1040px;
    background-color: #D9D9D9;
    }
