*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.img{
    display: block;
    /* width: 100%; */
}

body {
    font-size: 14px;
    color: #222;
    font-weight: normal;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}

/* header */
.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(1, 1, 167);
}

.gnb{
    display: flex;
    /* position: relative; */
}

.gnb > li {
    position: relative;
}

.gnb > li > a {
    display: block;
    height: 100px;
    line-height: 100px;
    padding: 0 40px;
}

.gnb > li > a:hover {
    color: orangered;
}

.gnb ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    /* background-color: red; */
    display: none;
}

.gnb ul li a {
    display: block;
    padding: 16px 10px;
    background-color: #eeecec;
    text-align: center;
}

/* slider */

.slider{
    height: 300px;
    overflow: hidden;
    position: relative;
}

.slides{
    display: flex;
    position: absolute;
    top: 0;
    left: -100%;
}

.slide img {
    display: block;
    /* width: 100%; */
}

/* contents */

.contents{
    display: flex;
    
    gap: 24px;
    /* justify-content: space-between; */
}

.contents > div {
    flex: 1;
    height: 180px;
    padding: 10px;
    /* background-color: #ff6347; */
}

.banner img {
    display: block;
    width: 100%;    
}

.board{}


.titles{
    display: flex;
    gap: 4px;
}

.titles h2{
    font-size: 14px;
    font-weight: normal;
    background-color: #f0f0f0;
    width: 190px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
}

h2.active {
    background-color: #ff6347;
    color: #fff;
}


.board ul.notice_list a {
    display: block;
    width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}



.link ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 16px;
}

.link ul a{
    background-color: #ccc;
    display: block;
    width: 184px;
    height: 85px;
    line-height: 85px;
    text-align: center;
}



